<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 注册默认转换器 -->
	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
	</bean>

	<!-- Zookeeper参数中心配置 -->
	<bean class="itwatertop.core.beans.factory.config.PczkPropertyPlaceholderConfiguer">
		<property name="zkDataLoader">
			<bean class="itwatertop.core.beans.factory.config.ZookeeperDataLoader" init-method="init">
				<property name="address" value="127.0.0.1:2181"></property>
				<property name="authInfo" value="guojikai:miasdz"></property>
				<property name="system" value="testSys"></property>
				<property name="mode" value="testMode"></property>
			</bean>
		</property>
	</bean>
	
	<bean id="zkStringBean" class="itwatertop.core.beans.factory.config.Bean">
		<property name="name">
			<value>zk{stringVal}</value>
		</property>
	</bean>

	<bean id="zkListBean" class="itwatertop.core.beans.factory.config.Bean">
		<property name="name">
			<value>zk{listVal[0]}</value>
		</property>
	</bean>

	<bean id="zkMapBean" class="itwatertop.core.beans.factory.config.Bean">
		<property name="name">
			<value>zk{{mapVal}.val}</value>
		</property>
	</bean>

</beans>
